{
    "extends": "eslint-config-egg",
    "parserOptions": {
        "ecmaVersion": 2018,
        "ecmaFeature": {
            "experimentalObjectRestSpread": true
        }
    },
    "rules": {
        "linebreak-style": "off"
    }
}
